<div class="container">
    <div class="row">
        <div class="col-12" style="margin-top: 20px">
            <mat-card style="margin: 50px">
                <div class="row">
                    <div class="column" *ngFor="let song of songs">
                        <div class="card">
                            <i class="name-song" style="color: #bd4147">{{song.nameSong}}</i>
                            <img class="img" [src]="song.avatarUrl">
                        </div>
                    </div>
                </div>
                <mat-paginator [pageSizeOptions]="[3,9,15]" [length]="totalElements" (page)="nextPage($event)">
                </mat-paginator>
            </mat-card>
        </div>
    </div>
</div>
